# TOPIC: String Based Assignment Problem

#### 1. Write a program to reverse a string.

In [4]:
#User Input String 
UserInput = input()

#Reversing string 
Reverse = UserInput[::-1]

#Print
print('Reversed String is',Reverse)

Hello world
Reversed String is dlrow olleH

#### 2. Check if a string is a palindrome.

In [10]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

#Cleaning String
CleanedUserString = UserInput.strip().lower()

# Palindrome Logic 
ReverseString = CleanedUserString[::-1]

if CleanedUserString == ReverseString:
    print('String is Palindrome')
else: 
    print('String is Not Palindrome')

Enter Your String:    Level
String is Palindrome

#### 3. Convert a string to uppercase.

In [11]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

# Using upper() string function to convert to upper case
Upper = UserInput.upper()

print('Upper Case String is ',Upper)

Enter Your String: Hello world
Upper Case String is  HELLO WORLD

#### 4. Convert a string to lowercase.

In [12]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

# Using lower() string function to convert to lower case
Lower = UserInput.lower()

print('Upper Case String is ',Lower)

Enter Your String: Hello WORLD
Upper Case String is  hello world

#### 5. Count the number of vowels in a string.

In [13]:
# Taking User Input String 
UserString = input('Enter Your String: ')

#Declaring Variable to Get count vowels 
CountVowels = 0

# Programming Logic 
for i in UserString:
    if i in ('a','e','i','o','u'):
        CountVowels = CountVowels + 1

#Showing Output 
print('Count of Vowels in your String is ',CountVowels)

Enter Your String: Hello world
Count of Vowels in your String is  3

#### 6. Count the number of consonants in a string.

In [14]:
# Taking User Input String 
UserString = input('Enter Your String: ')

#Declaring Variable to Get count consonants 
ConsonantsVowels = 0

# Programming Logic 
for i in UserString:
    if i not in ('a','e','i','o','u'):
        ConsonantsVowels = ConsonantsVowels + 1

#Showing Output 
print('Count of Vowels in your String is ',ConsonantsVowels)

Enter Your String: hello world
Count of Vowels in your String is  8

#### 7. Remove all whitespaces from a string.

In [15]:
# Taking User Input String 
UserString = input('Enter Your String: ')

#Logic to Remove Spaces using string function 
StrWithoutSpace = "".join(UserString.split(" ")) 
#So this will take user string split it with space and output of userString.split(" ") will be a list of all word
# "".join will join all the words in list without space


print('String Without Space is',StrWithoutSpace)

Enter Your String: Hello world
String Without Space is Helloworld


#### 8. Find the length of a string without using the `len()` function.

In [20]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Counter = 0 

#Programming Logic 
for i in UserInput:
    Counter += 1 
print('Length of String is',Counter)

Enter Your String: Hello world
Length of String is 11

#### 9. Check if a string contains a specific word.

In [27]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

#Checking word 
Check = input('String to Check in Your Input: ')

#I used lower() to avoid case sensitivity
if Check.lower() in UserInput.lower():
    print('Yes, {} Exists in {}'.format(Check,UserInput))
else:
    print("No, {} Doesn't Exist in {}".format(Check,UserInput))

Enter Your String: Hello world
String to Check in Your Input: world
Yes world Exists in Hello world


#### 10. Replace a word in a string with another word.

In [28]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

#Replace Word from 
Replacable = input('Enter word Which You want to Replace: ')

#Replace Word
Replace = input('Enter by which word you want to replace: ')

#Logic 
ReplacedString = UserInput.replace(Replacable,Replace)

print('Replaced String is ',ReplacedString)

Enter Your String: Hello world, world Hello will be replaced
Enter Which word You want to Replace: Hello
Enter by which word you want to replace: Hii
Replaced String is  Hii world, world Hii will be replaced

#### 11. Count the occurrences of a word in a string.

In [29]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Check = input('Which word you want to find Occurence:')

#Occurance
Count = UserInput.count(Check)

print('occurrences of {} is {}'.format(Check,Count))

Enter Your String: Hello world hello world
Which word you want to find Occurence:world
occurrences of world is 2

#### 12. Find the first occurrence of a word in a string.

In [32]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Check = input('Which word you want to find First Occurence:')

#Occurance
Count = UserInput.find(Check)

print('First occurrence of {} is at {} index'.format(Check,Count))

Enter Your String: Hello world its world
Which word you want to find First Occurence:world
occurrences of world is at 6 index

#### 13. Find the last occurrence of a word in a string.

In [33]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Check = input('Which word you want to find Last Occurence:')

#Occurance
Count = UserInput.rfind(Check)

print('Last occurrence of {} is at {} index'.format(Check,Count))

Enter Your String: Hello world hellow world
Which word you want to find First Occurence:world
First occurrence of world is at 19 index

#### 14. Split a string into a list of words.

In [35]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

#Splitting String 
print(UserInput.split(' '))

Enter Your String: Hello world, Welcome to python programming
['Hello', 'world,', 'Welcome', 'to', 'python', 'programming']

#### 15. Join a list of words into a string.

In [37]:
ListOfWords = ['Hello', 'world,', 'Welcome', 'to', 'python', 'programming']

#Joining String
print(" ".join(ListOfWords))

Hello world, Welcome to python programming

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [38]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

# Converting to list
ListOfWords = UserInput.split(' ')

#Joining String
print("_".join(ListOfWords))

Enter Your String: Hello world, Welcome to python programming
Hello_world,_Welcome_to_python_programming

#### 17. Check if a string starts with a specific word or phrase.

In [39]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

#Checking word 
Check = input('Check if you string starts with: ')

if UserInput.startswith(Check):
    print('Yes, It is Starting with', Check)
else:
    print('Not, its not starting with',Check)

Enter Your String: Hello world
String to Check in Your Input: Hello
Yes, It is Starting with Hello

#### 18. Check if a string ends with a specific word or phrase.

In [43]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

#Checking word 
Check = input('Check if you string Ends with: ')

if UserInput.endswith(Check):
    print('Yes, It is Ending with', Check)
else:
    print('Not, its not Ending with',Check)

Enter Your String: Hello world
Check if you string Ends with: world
Yes, It is Ending with world

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [45]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Title = UserInput.title()

print(Title)

Enter Your String: Hello world, Welcome to python prorgamming
Hello World, Welcome To Python Prorgamming

#### 20. Find the longest word in a string.

In [51]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Split = UserInput.split(' ')

MaxLen = 0
Word = ''
for i in Split:
    if len(i) > MaxLen:
        MaxLen = len(i)
        Word = i
        
print('Longest Word In String is {} Letters and its {} '.format(MaxLen,Word))

Enter Your String: Hello, world welcome to python programming in Notebook
Longest Word In String is 11 Letters and its programming

#### 21. Find the shortest word in a string.

In [63]:
# Taking User Input String 
UserInput = input('Enter Your String: ').strip()

Split = UserInput.split(' ')

MinLen = float('inf')
Word = ''
for i in Split:
    if len(i) < MinLen:
        MinLen = len(i)
        Word = i
        
print('Shortest Word In String is {} Letters and its {} '.format(MinLen,Word))

Enter Your String: Hello world, Welcome to python Programming
Shortest Word In String is 2 Letters and its to

#### 22. Reverse the order of words in a string.

In [75]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

# Splitting into List
SplitUserValue = UserInput.split(' ')

# reversing splitted string 
ReversedList = SplitUserValue[::-1]

#Joining reversed string
ReverseJoin = " ".join(ReversedList)


print('Reversed word is ',ReverseJoin)

Enter Your String: Hello world
Reversed word is  world Hello

#### 23. Check if a string is alphanumeric.

In [111]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

if (UserInput).isalnum():
    print('Yes String is Alpha Numeric')
else: 
    print('No, String is not Alpha Numeric')

Enter Your String: hello123
Yes String is Alpha Numeric

#### 24. Extract all digits from a string.

In [113]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

digit = ""

for i in UserInput:
    if i.isdigit():
        digit += i
print(digit)

Enter Your String: hello 123 helo 341
123341

#### 25. Extract all alphabets from a string.

In [115]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

Alpha = ""

for i in UserInput:
    if i.isalpha():
        Alpha += i
print(Alpha)

Enter Your String: hello123world
helloworld

#### 26. Count the number of uppercase letters in a string.

In [120]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

CountUpper = 0

for i in UserInput:
    if i.isupper():
        CountUpper += 1
        
print(CountUpper)

Enter Your String: HelloWorld]
2

#### 27. Count the number of lowercase letters in a string.

In [121]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

CountLower = 0

for i in UserInput:
    if i.islower():
        CountLower += 1
        
print(CountLower)

Enter Your String: Hello World
8

#### 28. Swap the case of each character in a string.

In [122]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

print(UserInput.swapcase())

Enter Your String: Hello World
hELLO wORLD

#### 29. Remove a specific word from a string.

In [123]:
# Taking User Input String 
UserInput = input('Enter Your String: ')

# Remove Word 
Remove = input('Enter String you want to remove: ')

print(UserInput.replace(Remove,""))

Enter Your String: Hello world, Welcome to Python programming
Enter String you want to remove: Python
Hello world, Welcome to  programming

#### 30. Check if a string is a valid email address.

In [125]:
#regular expression module
import re 

# Taking User Input String 
Email = input('Enter Your String: ')

pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
if re.match(pattern, Email):
    print('Its A Valid Email')
else:
    print('Its not A Valid Email')

Enter Your String: Hello@not.g.s
Its A Valid Email

#### 31. Extract the username from an email address string.

In [128]:
#regular expression module
import re 

# Taking User Input String 
Email = input('Enter Your String: ')

Username = Email.split('@')[0]

print('UserName is',Username)

Enter Your String: Hello@gmail.com
UserName is  Hello

#### 32. Extract the domain name from an email address string.

In [129]:
# Taking User Input String 
Email = input('Enter Your String: ')

Domain = Email.split('@')[1]

print('Domain is',Domain)

Enter Your String: Xyz@google.com
Domain is google.com

#### 33. Replace multiple spaces in a string with a single space.

In [141]:
# Taking User Input String 
userString = input('Enter Your String: ')

SplittedList = userString.split(' ')
NewList = []
for i in SplittedList:
    if i != '':
        NewList.append(i)

WithoutSpace = " ".join(NewList)

print('String Without Spaces:',WithoutSpace)

Enter Your String:    hello w  world
String Without Spaces: hello w world

#### 34. Check if a string is a valid URL.

In [151]:
import re
# Taking User Input String 
userString = input('Enter URL: ')

regex = "((http|https)://)(www.)?" + "[a-zA-Z0-9@:%._\\+~#?&//=]{2,256}\\.[a-z]" + "{2,6}\\b([-a-zA-Z0-9@:%._\\+~#?&//=]*)"


if re.match(regex, userString):
    print('Its A Valid URL')
else:
    print('Its not A Valid URL')

Enter URL: https://www.something.com/
Its A Valid URL

#### 35. Extract the protocol (http or https) from a URL string.

In [154]:
# Taking User Input String 
userString = input('Enter URL: ')

Protocol = userString.split('://')[0]

print('Protocol is',Protocol)

Enter URL: https://www.something.com/
Protocol is  https

#### 36. Find the frequency of each character in a string.

In [12]:
userString = input('Enter String: ')

Frequency = {}

for char in userString:
    if char in Frequency:
        Frequency[char] += 1  
    else:
        Frequency[char] = 1

for key,value in Frequency.items():
    print('Key={} Frequency={}'.format(key,value))

Enter URL: Hello world
Key=H Frequency=1
Key=e Frequency=1
Key=l Frequency=3
Key=o Frequency=2
Key=  Frequency=1
Key=w Frequency=1
Key=r Frequency=1
Key=d Frequency=1

#### 37. Remove all punctuation from a string.

In [19]:
userString = input('Enter String: ')

#List of punctuations
punctuation_list = """!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~"""

translator = str.maketrans('', '', punctuation_list)

clean_string = userString.translate(translator)

print('Cleaned String:',clean_string)

Enter String: Hello! World!
Cleaned String: Hello World

#### 38. Check if a string contains only digits.

In [28]:
userString = input('Enter String: ')

if userString.isdigit():
    print('It Contains Only Digit')
else:
    print('It Does not contain only digits')

Enter String: 123
It Contains Only Digit

#### 39. Check if a string contains only alphabets.

In [29]:
userString = input('Enter String: ')

if userString.isalpha():
    print('It Contains Only Alphabet')
else:
    print('It Does not contain only Alphabet')

Enter String: Hello
It Contains Only Alphabet

#### 40. Convert a string to a list of characters.

In [30]:
userString = input('Enter String: ')

#Empty List
L1 = []

L1.extend(userString)

print(L1)

Enter String: Hello world
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### 41. Check if two strings are anagrams.

In [34]:
String1 = input('Enter First Word:').strip().lower()
String2 = input('Enter Secodn word:').strip().lower()

if sorted(String1) == sorted(String2):
    print('Both Are Anagrams')
else:
    print('Both Are Not Anagrams')

Enter First Word:Knee
Enter Secodn word:keen
Both Are Anagrams

#### 42. Encode a string using a Caesar cipher.

In [75]:
userString = input('Enter String:').lower()
key = 3
Encoded_Text = ""

for i in userString:
    if i.isalpha():
        Encoded_Text += chr((ord(i) + 3 - ord('a'))%26 + ord('a'))
    else:
        Encoded_Text += i
print('Encoded Text:',Encoded_Text)

Enter String:Hello World
Encoded Text: khoor zruog

#### 43. Decode a Caesar cipher encoded string.

In [77]:
userString = input('Enter String: ')
key = 3
Decoded_Text = ""

for i in userString:
    if i.isalpha():
        Decoded_Text += chr((ord(i) - 3 - ord('a'))%26 + ord('a'))
    else:
        Decoded_Text += i
print('Decoded Text:',Decoded_Text)

Enter String: khoor zruog
Decoded Text: hello world

#### 44. Find the most frequent word in a string.

In [83]:
userString = input('Enter String: ').strip()

SplittedString = userString.split(' ')

Frequency = {}

for i in SplittedString:
    if i in Frequency:
        Frequency[i] += 1  
    else:
        Frequency[i] = 1

        
MostFrequentWord = max(Frequency, key=Frequency.get)    

print('Most frequent Word is ',MostFrequentWord)

Enter String: Hello World Hello Hello Hello
Most frequent Word is  Hello

#### 45. Find all unique words in a string.

In [85]:
userString = input('Enter String: ').strip()

SplittedString = set(userString.split(' '))

print(SplittedString)

Enter String: Hello world Hello hello
{'Hello', 'hello', 'world'}

#### 46. Count the number of syllables in a string.

In [90]:
userString = input('Enter String: ').strip()

syllables = ['a','e','i','o','u','y']

counter = 0 
for i in userString:
    if i.lower() in syllables:
        counter += 1

print('Number of Syllabes in {} is {}'.format(userString,counter))

Enter String: Hello Ello
Number of Syllabes in Hello Ello is 4

#### 47. Check if a string contains any special characters.

In [93]:
userString = input('Enter String:')

Special_Characters = """!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~"""

for i in userString:
    if i in Special_Characters:
        print('Yes, it Contains Special Character')
        break
else:
    print('It Does Not Contain Special Character')

Enter String:Hello
It Does Not Contain Special Character

#### 48. Remove the nth word from a string.

In [101]:
userString = input('Enter String:')
Index = int(input('From Which Place You Want to remove:'))

#Empty List
L1 = []

NewList = L1.extend(userString)

L1.remove(1)

Enter String:12
From Which Place You Want to remove:1

ValueError: list.remove(x): x not in list

In [112]:
userString = input('Enter String:')
Index = int(input('From Which Place You Want to remove:'))

#Removing using string slicing
NewString = userString[:Index] + userString[Index+1:]

print('new String is ',NewString)

Enter String:Hello World
From Which Place You Want to remove:9
new String is  Hello Word

#### 49. Insert a word at the nth position in a string.

In [117]:
userString = input('Enter String:')
Index = int(input('From Which Place You Want to remove:'))
Word = input('Enter Word to Insert:')

#Removing using string slicing
NewString = userString[:Index] + " " + Word + " " +userString[Index:]

print('new String is ',NewString)

Enter String:Hello World
From Which Place You Want to remove:10
Enter Word to Insert:World
new String is  Hello Worl World d

#### 50. Convert a CSV string to a list of lists.

In [126]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

SplitCSV = csv_data.split('\n')

for i in range(len(SplitCSV)):
    X = SplitCSV[i]
    SplitCSV[i] = X.split(',')
    
for raw in SplitCSV:
    print(raw)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

#### 1. Create a list with integers from 1 to 10.

In [128]:
List = list(range(1,11))

List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [129]:
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

counter = 0

for i in L1:
    counter += 1
    
print(counter)

10

#### 3. Append an element to the end of a list.

In [133]:
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

L1.append(11)

print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 4. Insert an element at a specific index in a list.

In [135]:
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

L1.insert(2,'Hello')

print(L1)

[1, 2, 'Hello', 3, 4, 5, 6, 7, 8, 9, 10]

#### 5. Remove an element from a list by its value.

In [138]:
L1 = [1,'Hello' ,2, 3, 4, 5, 6, 7, 8, 9, 10]

L1.remove('Hello')

print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 6. Remove an element from a list by its index.

In [141]:
L1 = [1,'Hello' ,2, 3, 4, 5, 6, 7, 8, 9, 10]

L1.pop(1)

print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 7. Check if an element exists in a list.

In [144]:
L1 = [1,'Hello' ,2, 3, 4, 5, 6, 7, 8, 9, 10]
Check = 10
if Check in L1:
    print('Yes it exist')
else:
    print('it does not exist')

Yes it exist

#### 8. Find the index of the first occurrence of an element in a list.

In [150]:
L1 = [1,'Hello' ,2, 3, 4, 5,8, 6, 7, 8, 9, 10]

check =  8

print('First Index is',L1.index(check))

First Index is 6

#### 9. Count the occurrences of an element in a list.

In [152]:
L1 = [1,'Hello' ,2, 3, 4, 5,8, 6, 7, 8, 9, 10]

check =  8

print('count of {} is {}'.format(check,L1.count(check)))

count of 8 is 2

#### 10. Reverse the order of elements in a list.

In [153]:
L1 = [1,'Hello' ,2, 3, 4, 5,8, 6, 7, 8, 9, 10]

L1[::-1]

[10, 9, 8, 7, 6, 8, 5, 4, 3, 2, 'Hello', 1]

#### 11. Sort a list in ascending order.

In [157]:
L1 = [1,5 ,2, 3, 4, 5,8, 6, 7, 8, 9, 10]

L1.sort()

L1

[1, 2, 3, 4, 5, 5, 6, 7, 8, 8, 9, 10]

#### 12. Sort a list in descending order.

In [158]:
L1 = [1,5 ,2, 3, 4, 5,8, 6, 7, 8, 9, 10]

L1.sort(reverse=True)

L1

[10, 9, 8, 8, 7, 6, 5, 5, 4, 3, 2, 1]

#### 13. Create a list of even numbers from 1 to 20.

In [164]:
List = list(range(2,21,2))

List

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [165]:
List = list(range(1,21,2))

List

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [166]:
List = list(range(1,21))

sum(List)

210

#### 16. Find the maximum value in a list.

In [170]:
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

max(List)

20

#### 17. Find the minimum value in a list.

In [171]:
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

min(List)

1

#### 18. Create a list of squares of numbers from 1 to 10.

In [177]:
[i*i for i in range(1,10) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### 19. Create a list of random numbers.

In [187]:
import random

List = [ random.randint(1,100) for i in range(1,20)]

print(List)

[71, 96, 100, 97, 96, 77, 47, 49, 79, 42, 99, 15, 47, 29, 2, 34, 60, 44, 63]

#### 20. Remove duplicates from a list.

In [186]:
L1 = [56, 27, 27, 63, 63, 60, 8, 61, 13, 99, 41, 69, 76, 25, 10, 10, 90, 30, 73]

RemoveDupes = list(set(L1))

print(RemoveDupes)

[99, 69, 8, 41, 10, 73, 76, 13, 56, 25, 90, 27, 60, 61, 30, 63]

#### 21. Find the common elements between two lists.

In [197]:
L1 = [1,2,3,4,5,9]
L2 = [4,5,6,7,10]

Common = []
for i in L1:
    if i in L2:
        Common.append(i)

print(Common)

[4, 5]

#### 22. Find the difference between two lists.

In [198]:
L1 = [1,2,3,4]
L2 = [4,5,6,7]

Common = []
for i in L1:
    if i not in L2:
        Common.append(i)
        
for i in L2:
    if i not in L1:
        Common.append(i)

print(Common)

[1, 2, 3, 5, 6, 7]

#### 23. Merge two lists.

In [199]:
L1 = [1,2,3,4]
L2 = [4,5,6,7]

print(L1+L2)

[1, 2, 3, 4, 4, 5, 6, 7]

#### 24. Multiply all elements in a list by 2.

In [201]:
L1 = [1,2,3,4]

By2List = [i*2 for i in L1]

print(By2List)

[2, 4, 6, 8]

#### 25. Filter out all even numbers from a list.

In [202]:
L1 = [71, 96, 100, 97, 96, 77, 47, 49, 79, 42, 99, 15, 47, 29, 2, 34, 60, 44, 63]

FilterEven = [i for i in L1 if i%2==0]

print(FilterEven)

[96, 100, 96, 42, 2, 34, 60, 44]

#### 26. Convert a list of strings to a list of integers.

In [203]:
L1 = ['1','2','3','4']

IntString = [int(i) for i in L1]

print(IntString)

[1, 2, 3, 4]

#### 27. Convert a list of integers to a list of strings.

In [204]:
L1 = [71, 96, 100, 97, 96, 77, 47, 49, 79, 42, 99, 15, 47, 29, 2, 34, 60, 44, 63]

IntString = [str(i) for i in L1]

print(IntString)

['71', '96', '100', '97', '96', '77', '47', '49', '79', '42', '99', '15', '47', '29', '2', '34', '60', '44', '63']

#### 28. Flatten a nested list.

In [211]:
nested = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]


flattened = []
for sublist in nested:
    if isinstance(sublist, list):
         flattened.extend(sublist)
    else:
        flattened.append(sublist)



print("Flattened list:", flattened)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [223]:
FibFirst = 0 
FibNext = 1

FibSeries = []

for i in range(1,11):
    FibSeries.append(FibFirst)
    
    X = FibNext 
    FibNext = X + FibFirst
    FibFirst = X
    
    
    
print(FibSeries)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [244]:
List1 = [1,2,3,4]

for i in range(len(List1)-1):
    if List1[i] > List1[i+1]:
        print('Not Sorted')
        break
else:
    print('List is Sorted')

List is Sorted

#### 31. Rotate a list to the left by `n` positions.

In [4]:
List1 = [1,2,3,4,5,6]
Rotate = 2
NormRotate = Rotate%len(List1)

RoteatedList = List1[NormRotate:] + List1[:NormRotate]

print('Rotated List', RoteatedList)

Rotated List [3, 4, 5, 6, 1, 2]

#### 32. Rotate a list to the right by `n` positions.

In [5]:
List1 = [1,2,3,4,5,6]
Rotate = 2
NormRotate = Rotate%len(List1)

RoteatedList = List1[-NormRotate:] + List1[:-NormRotate]

print('Rotated List', RoteatedList)

Rotated List [5, 6, 1, 2, 3, 4]

#### 33. Create a list of prime numbers up to 50.

In [19]:
primes = []

for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num/2) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)

print("Prime numbers between 1 and 50:", primes)

Prime numbers between 1 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [24]:
my_list = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# Chunk size
n = 3

# Initialize an empty list to store chunks
chunks = []

# Loop through the list in steps of 'n' and create chunks
for i in range(0, len(my_list), n):
    chunk = my_list[i:i + n]
    chunks.append(chunk)

# Print the list of chunks
for chunk in chunks:
    print(chunk)

[2, 3, 5]
[7, 11, 13]
[17, 19, 23]
[29, 31, 37]
[41, 43, 47]

#### 35. Find the second largest number in a list.

In [26]:
L1 = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

L1.remove(max(L1))

print(max(L1))

43

#### 36. Replace every element in a list with its square.

In [27]:
L1 = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

L1 = [i*i for i in L1]

print(L1)

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [28]:
my_list = ['apple', 'banana', 'cherry', 'date']

# Initialize an empty dictionary
my_dict = {}

# Loop through the list and create the dictionary
for index, value in enumerate(my_list): #Enumerate give both index and value
    my_dict[value] = index

# Print the resulting dictionary
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

#### 38. Shuffle the elements of a list randomly.

In [32]:
import random

my_list = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# Shuffle the list in place
random.shuffle(my_list)

# Print the shuffled list
print(my_list)

[1, 7, 6, 2, 10, 4, 9, 8, 3, 5]

#### 39. Create a list of the first 10 factorial numbers.

In [35]:
import math

my_list = [math.factorial(i) for i in range(1,11) ]

print(my_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### 40. Check if two lists have at least one element in common.

In [36]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Convert the lists to sets and find their intersection
set1 = set(list1)
set2 = set(list2)
intersection = set1.intersection(set2)

# Check if there's at least one common element
if len(intersection) > 0:
    print("The lists have at least one element in common.")
else:
    print("The lists have no common elements.")

The lists have at least one element in common.

#### 41. Remove all elements from a list.

In [37]:
my_list = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

my_list.clear()

print(my_list)

[]

#### 42. Replace negative numbers in a list with 0.

In [45]:
import random

my_list = [random.randint(-100,100) for i in range(1,20)]

PositiveList = []

for i in my_list:
    if i<0: 
        PositiveList.append(0)
    else:
        PositiveList.append(i)

print(PositiveList)

[85, 29, 69, 8, 0, 80, 0, 46, 0, 16, 0, 0, 17, 0, 43, 0, 33, 20, 0]

#### 43. Convert a string into a list of words.

In [47]:
text = "Hello, World Welcome to python programming"

word_list = text.split()

print(word_list)

['Hello,', 'World', 'Welcome', 'to', 'python', 'programming']

#### 44. Convert a list of words into a string.

In [ ]:
word_list = ['Hello,', 'World', 'Welcome', 'to', 'python', 'programming']

text = ' '.join(word_list)

print(text)

#### 45. Create a list of the first `n` powers of 2.

In [48]:
n = 10 
powers_of_2 = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", powers_of_2)

List of the first 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

#### 46. Find the longest string in a list of strings.

In [50]:
string_list = ['Hello,', 'World', 'Welcome', 'to', 'python', 'programming']

# Initialize a variable to store the longest string
longest_string = ""

for string in string_list:
    if len(string) > len(longest_string):
        longest_string = string

print("The longest string in the list is:", longest_string)

The longest string in the list is: programming

#### 47. Find the shortest string in a list of strings.

In [52]:
string_list = ['Hello,', 'World', 'Welcome', 'to', 'python', 'programming']

# Initialize a variable to store the shortest string
shortest_string = None

for string in string_list:
    if shortest_string is None or len(string) < len(shortest_string):
        shortest_string = string

print("The shortest string in the list is:", shortest_string)

The shortest string in the list is: to

#### 48. Create a list of the first `n` triangular numbers.

In [55]:
n = 50  # Change 'n' to the desired number of triangular numbers
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]

print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 50 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275]

#### 49. Check if a list contains another list as a subsequence.

In [56]:
# Example lists
list1 = [1, 2, 3, 4, 5, 6]
list2 = [2, 4, 6]

# Initialize pointers for list1 and list2
i, j = 0, 0

# Iterate through both lists
while i < len(list1) and j < len(list2):
    if list1[i] == list2[j]:
        j += 1
    i += 1

# Check if j reaches the length of list2, indicating list2 is a subsequence
if j == len(list2):
    print("list1 contains list2 as a subsequence.")
else:
    print("list1 does not contain list2 as a subsequence.")

list1 contains list2 as a subsequence.

#### 50. Swap two elements in a list by their indices.

In [57]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Check if the indices are valid
if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    # Swap the elements
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
    print("List after swapping elements:", my_list)
else:
    print("Invalid indices for swapping.")

List after swapping elements: [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

#### 1. Create a tuple with integers from 1 to 5.

In [59]:
Tup1 = tuple(range(1,6))
print(Tup1)

(1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple.

In [62]:
Tup1 = (1,2,3,4,56,7,8)

print(Tup1[2])

3

#### 3. Find the length of a tuple without using the `len()` function.

In [64]:
Tup1 = (1,2,3,4,56,7,8)
counter = 0
for i in Tup1:
    counter += 1
    
print(counter)

7

#### 4. Count the occurrences of an element in a tuple.

In [65]:
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

element_to_count = 2

count = my_tuple.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 4 times in the tuple.

#### 5. Find the index of the first occurrence of an element in a tuple.

In [67]:
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

element_to_find = 2

index = my_tuple.index(element_to_find)

print(f"The first occurrence of {element_to_find} is at index {index}.")

The first occurrence of 2 is at index 1.

#### 6. Check if an element exists in a tuple.

In [70]:
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

element_to_find = 5

if element_to_find in my_tuple:
    print('Yes, element Exist')
else: 
    print('Element Does Not Exist')

Yes, element Exist

#### 7. Convert a tuple to a list.

In [71]:
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

my_list = list(my_tuple)

print(my_list)

[1, 2, 2, 3, 4, 2, 5, 2]

#### 8. Convert a list to a tuple.

In [73]:
my_list = [1, 2, 2, 3, 4, 2, 5, 2]

my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 2, 3, 4, 2, 5, 2)

#### 9. Unpack the elements of a tuple into variables.

In [74]:
my_tuple = (1, 2, 3)

# Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

#### 10. Create a tuple of even numbers from 1 to 10.

In [84]:
my_tuple =tuple(x for x in range(2, 11, 2))


my_tuple

(2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [85]:
my_tuple =tuple(x for x in range(1, 11, 2))


my_tuple

(1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [86]:
tup1 = (1,2,3,4)
tup2 = (4,5,6,7)

print(tup1+tup2)

(1, 2, 3, 4, 4, 5, 6, 7)

#### 13. Repeat a tuple three times.

In [90]:
tup1 = (4,5,6,7)

print(tup1*3)

(4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7)

#### 14. Check if a tuple is empty.

In [93]:
my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

#### 15. Create a nested tuple.

In [94]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

for i in nested_tuple:
    print(i)

(1, 2)
(3, 4)
(5, 6)

#### 16. Access the first element of a nested tuple.

In [95]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

first_element = nested_tuple[0][0]

print(first_element)

1

#### 17. Create a tuple with a single element.

In [97]:
single_element_tuple = (42,)

print(single_element_tuple)

(42,)

#### 18. Compare two tuples.

In [98]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are not equal.

#### 19. Delete a tuple.

In [ ]:
my_tuple = (1, 2, 3)
del my_tuple
# Now, 'my_tuple' no longer exists.

#### 20. Slice a tuple.

In [100]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]  # This will create a new tuple (2, 3, 4)

print(sliced_tuple)

(2, 3, 4)

#### 21. Find the maximum value in a tuple.

In [101]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
max_value = max(my_tuple)

print(max_value)

9

#### 22. Find the minimum value in a tuple.

In [102]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
min_value = min(my_tuple)

print(min_value)

1

#### 23. Convert a string to a tuple of characters.

In [103]:
my_string = "Hello, World!"
char_tuple = tuple(char for char in my_string)

print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

#### 24. Convert a tuple of characters to a string.

In [104]:
char_tuple = ('H', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)

print(my_string)

Hello

#### 25. Create a tuple from multiple data types.

In [105]:
my_tuple = (1, 'apple', 3.14, True)

print(my_tuple)

(1, 'apple', 3.14, True)

#### 26. Check if two tuples are identical.

In [107]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print('The Two tuples are not Identical')

The two tuples are identical.

#### 27. Sort the elements of a tuple.

In [108]:
my_tuple = (5, 3, 1, 4, 2)
sorted_tuple = tuple(sorted(my_tuple))

print(sorted_tuple)

(1, 2, 3, 4, 5)

#### 28. Convert a tuple of integers to a tuple of strings.

In [109]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(num) for num in int_tuple)

print(str_tuple)

('1', '2', '3', '4', '5')

#### 29. Convert a tuple of strings to a tuple of integers.

In [110]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(num) for num in str_tuple)

print(int_tuple)

(1, 2, 3, 4, 5)

#### 30. Merge two tuples.

In [111]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

#### 31. Flatten a nested tuple.

In [112]:
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)

flat_list = []

stack = [nested_tuple]

while stack:
    current = stack.pop()
    for item in current:
        if isinstance(item, tuple):
            stack.append(item)
        else:
            flat_list.append(item)

flat_tuple = tuple(flat_list)

print(flat_tuple)

(1, 7, 4, 5, 6, 2, 3)

#### 32. Create a tuple of the first 5 prime numbers.

In [120]:
primes = []
n 

num = 2  

while len(primes) < n:
    is_prime = True
    for i in range(2, int(num / 2) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
    num += 1

print(f"The first {n} prime numbers are: {tuple(primes)}")

The first 10 prime numbers are: (2, 3, 5, 7, 11, 13, 17, 19, 23, 29)

#### 33. Check if a tuple is a palindrome.

In [122]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]

print(is_palindrome)

True

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [123]:
squares_tuple = tuple(i**2 for i in range(1, 6))

print(squares_tuple)

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [124]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

#### 36. Multiply all elements in a tuple by 2.

In [125]:
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)

print(doubled_tuple)

(2, 4, 6, 8, 10)

#### 37. Create a tuple of random numbers.

In [127]:
import random

random_numbers = tuple(random.randint(1, 10) for _ in range(5))

print(random_numbers)

(6, 7, 6, 10, 2)

#### 38. Check if a tuple is sorted.

In [128]:
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))

if is_sorted:
    print('Yes, Tuple is sorted')
else:
    print('Tuple is not sorted')

Yes, Tuple is sorted

#### 39. Rotate a tuple to the left by `n` positions.

In [130]:
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

#### 40. Rotate a tuple to the right by `n` positions.

In [132]:
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(rotated_tuple)

(4, 5, 1, 2, 3)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [139]:
n = 5

# Initialize the first two Fibonacci numbers
fibonacci_numbers = [0, 1]

# Generate the Fibonacci series up to the nth element
while len(fibonacci_numbers) < n:
    next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers.append(next_fibonacci)

# Display the first 'n' Fibonacci numbers

Fib_Tuple = tuple(fibonacci_numbers)
print(f"The first {n} Fibonacci numbers are: {Fib_Tuple}")

The first 5 Fibonacci numbers are: (0, 1, 1, 2, 3)

#### 42. Create a tuple from user input.

In [144]:
user_input = input("Enter values separated by spaces: ")

input_list = user_input.split(' ')

input_tuple =tuple(input_list)

print(input_tuple)

Enter values separated by spaces: Hello world
('Hello', 'world', '')

#### 43. Swap two elements in a tuple.

In [146]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

#### 44. Reverse the elements of a tuple.

In [147]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

#### 45. Create a tuple of the first `n` powers of 2.

In [148]:
n = 10
powers_of_2 = tuple(2 ** i for i in range(n))

print(powers_of_2)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

#### 46. Find the longest string in a tuple of strings.

In [149]:
string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)

print(longest_string)

banana

#### 47. Find the shortest string in a tuple of strings.

In [150]:
string_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(string_tuple, key=len)

print(shortest_string)

date

#### 48. Create a tuple of the first `n` triangular numbers.

In [151]:
n = 5
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print(triangular_numbers)

(1, 3, 6, 10, 15)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [152]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (2, 3, 4)
is_subsequence = any(tuple1[i:i+len(tuple2)] == tuple2 for i in range(len(tuple1) - len(tuple2) + 1))

if is_subsequence:
    print('Yes it is a subsequence')
else:
    print('Not its not subsequence')

Yes it is a subsequence

#### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [154]:
n = 10
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

#### 1. Create a set with integers from 1 to 5.

In [156]:
my_set = {i for i in range(1,6)}

print(my_set)

{1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [157]:
my_set = {1, 2, 3}
my_set.add(4)

print(my_set)

{1, 2, 3, 4}

#### 3. Remove an element from a set.

In [158]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(4)

print(my_set)

{1, 2, 3, 5}

#### 4. Check if an element exists in a set.

In [160]:
my_set = {1, 2, 3, 4, 5}
element = 3
if element in my_set:
    print(f"{element} exists in the set.")
else:
    print(f"{element} doesn't exists in the set.")

3 exists in the set.

#### 5. Find the length of a set without using the `len()` function.

In [161]:
my_set = {1, 2, 3, 4, 5}
count = 0
for _ in my_set:
    count += 1
print(f"The length of the set is {count}.")

The length of the set is 5.

#### 6. Clear all elements from a set.

In [162]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()

#### 7. Create a set of even numbers from 1 to 10.

In [163]:
even_set = {x for x in range(1, 11) if x % 2 == 0}

print(even_set)

{2, 4, 6, 8, 10}

#### 8. Create a set of odd numbers from 1 to 10.

In [164]:
odd_set = {x for x in range(1, 11) if x % 2 != 0}

print(odd_set)

{1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [165]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
# or
# union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5}

#### 10. Find the intersection of two sets.

In [166]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
# or
# intersection_set = set1 & set2

print(intersection_set)

{3}

#### 11. Find the difference between two sets.

In [167]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
# or
#difference_set = set1 - set2

print(difference_set)

{1, 2}

#### 12. Check if a set is a subset of another set.

In [169]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
# or
is_subset = set1 <= set2

if is_subset:
    print('its a Subset')
else:
    print('Its Not Subset')

its a Subset

#### 13. Check if a set is a superset of another set.

In [170]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
# or
is_superset = set1 >= set2

if is_superset:
    print('its a SuperSet')
else:
    print('Its Not SuperSet')

its a SuperSet

#### 14. Create a set from a list.

In [171]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

#### 15. Convert a set to a list.

In [172]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

#### 16. Remove a random element from a set.

In [177]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()

print(my_set)

1

#### 17. Pop an element from a set.

In [178]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()

print(my_set)

{2, 3, 4, 5}

#### 18. Check if two sets have no elements in common.

In [182]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
Common_Element = set1.isdisjoint(set2)

if Common_Element:
    print('Have Common Elements')
else:
    print('Does not Have common elements')

Have Common Elements

#### 19. Find the symmetric difference between two sets.

In [181]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = set1.symmetric_difference(set2)
# or
# symmetric_diff = set1 ^ set2

print(symmetric_diff)

{1, 2, 5, 6}

#### 20. Update a set with elements from another set.

In [183]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
# or
# set1 |= set2

print(set1)

{1, 2, 3, 4, 5}

#### 21. Create a set of the first 5 prime numbers.

In [186]:
primes = set()
n = 5

num = 2  

while len(primes) < n:
    is_prime = True
    for i in range(2, int(num / 2) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.add(num)
    num += 1

print(f"The first {n} prime numbers are: {primes}")

The first 5 prime numbers are: {2, 3, 5, 7, 11}

#### 22. Check if two sets are identical.

In [187]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2

if are_identical:
    print('Both sets are identical')
else:
    print('No both are not identical')

Both sets are identical

#### 23. Create a frozen set.

In [188]:
my_set = {1, 2, 3}
frozen_set = frozenset(my_set)

print(frozen_set)

frozenset({1, 2, 3})

#### 24. Check if a set is disjoint with another set.

In [189]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print('Set is disjoint with another set')
else:
    print('Set is not disjoint with antoher set')

Set is disjoint with another set

#### 25. Create a set of squares of numbers from 1 to 5.

In [190]:
squares_set = {x**2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [191]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8}
filtered_set = {x for x in my_set if x % 2 != 0}

print(filtered_set)

{1, 3, 5, 7}

#### 27. Multiply all elements in a set by 2.

In [192]:
my_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in my_set}

print(multiplied_set)

{2, 4, 6, 8, 10}

#### 28. Create a set of random numbers.

In [193]:
import random

random_set = set(random.randint(1, 10) for _ in range(5))

print(random_set)

{1, 3, 4, 5, 8}

#### 29. Check if a set is empty.

In [194]:
my_set = set()  # An empty set
if not my_set:
    print("The set is empty")
else:
    print('Set is not empty')

The set is empty

#### 30. Create a nested set (hint: use frozenset).

In [195]:
nested_set = {1, frozenset({2, 3})}

print(nested_set)

{1, frozenset({2, 3})}

#### 31. Remove an element from a set using the discard method.

In [196]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)  # Removes 3 from the set if it's present

print(my_set)

{1, 2, 4, 5}

#### 32. Compare two sets.

In [197]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_equal = set1 == set2  # This will return True

if are_equal:
    print('Both set are equal')
else:
    print('Both Set are not Equal')

Both set are equal

#### 33. Create a set from a string.

In [198]:
my_string = "hello"
char_set = {char for char in my_string}

print(char_set)

{'h', 'o', 'l', 'e'}

#### 34. Convert a set of strings to a set of integers.

In [199]:
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}

print(int_set)

{1, 2, 3}

#### 35. Convert a set of integers to a set of strings.

In [200]:
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}

print(string_set)

{'1', '3', '2'}

#### 36. Create a set from a tuple.

In [201]:
my_tuple = (1, 2, 3)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3}

#### 37. Convert a set to a tuple.

In [202]:
my_set = {1, 2, 3}
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3)

#### 38. Find the maximum value in a set.

In [203]:
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)

print(max_value)

5

#### 39. Find the minimum value in a set.

In [204]:
my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)

print(min_value)

1

#### 40. Create a set from user input.

In [205]:
user_input = input("Enter values separated by spaces: ")
input_list = user_input.split()
user_set = set(input_list)

print(user_set)

Enter values separated by spaces: Hello world
{'Hello', 'world'}

#### 41. Check if the intersection of two sets is empty.

In [206]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

intersection_empty = set1.intersection(set2) == set()

if intersection_empty:
    print('Intersection of two sets is empty')
else:
    print('Intersection of two sets is not empty')

Intersection of two sets is empty

#### 42. Create a set of the first 5 Fibonacci numbers.

In [208]:
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Generate the first 5 Fibonacci numbers and add them to the set
for i in range(10):
    fibonacci_set.add(a)
    a, b = b, a + b

# Display the set of the first 5 Fibonacci numbers
print("The first 5 Fibonacci numbers in a set are:", fibonacci_set)

The first 5 Fibonacci numbers in a set are: {0, 1, 2, 3, 34, 5, 8, 13, 21}

#### 43. Remove duplicates from a list using sets.

In [209]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))

print(unique_list)

[1, 2, 3, 4, 5]

#### 44. Check if two sets have the same elements, regardless of their count.

In [210]:
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1, 2, 3}
have_same_elements = set1 == set2  # This will return True

if have_same_elements:
    print('Both Set have same elements')
else:
    print('Both do not have same elements')

Both Set have same elements

#### 45. Create a set of the first `n` powers of 2.

In [211]:
n = 5
powers_of_2_set = {2**i for i in range(n)}

print(powers_of_2_set)

{1, 2, 4, 8, 16}

#### 46. Find the common elements between a set and a list.

In [212]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)

print(common_elements)

{3, 4, 5}

#### 47. Create a set of the first `n` triangular numbers.

In [213]:
n = 5
triangular_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

print(triangular_numbers)

(1, 3, 6, 10, 15)

#### 48. Check if a set contains another set as a subset.

In [214]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 3, 4}
is_subset = set2.issubset(set1)  # This will return True because set2 is a subset of set1

if is_subset:
    print('Yes, Set2 is a subset of set1')
else:
    print('No, Set2 is not a subset of set1')

Yes, Set2 is a subset of set1


#### 49. Create a set of alternating 1s and 0s of length `n`.

In [215]:
n = 10
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

print(alternating_set)

{0, 1}

#### 50. Merge multiple sets into one

In [217]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
        
merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}